<!DOCTYPE html>

<html lang="en">
<%- include('head'); %>

<body>
    
    <%- include('header'); %>
    
    <br>
    
    <form id="queryForm">
        <label>
            <input type="radio" name="queryType" value="write" id="writeQuery" checked> Write query
        </label>
        <label>
            <input type="radio" name="queryType" value="upload" id="uploadQuery"> Upload SQL file
        </label>
        
        <div id="writeQueryDiv">
            <textarea name="queryText" id="queryText" rows="4" cols="50" placeholder="Enter your SQL query here">
                CREATE TABLE `teams` (
                    `team_id` int(11) NOT NULL,
                    `team_name` varchar(100) NOT NULL,
                    `logo` varchar(100) NOT NULL,
                    `description` text NOT NULL,
                    `is_active` tinyint(1) NOT NULL
                  ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
                  ALTER TABLE `teams`
                    ADD PRIMARY KEY (`team_id`);
                   CREATE TABLE `events` (
                      `event_id` int(11) NOT NULL,
                      `event_date` date NOT NULL,
                      `event_time` time NOT NULL,
                      `event_content` text NOT NULL,
                      `teamA_id` int(11) NOT NULL,
                      `teamA_score` int(11) DEFAULT NULL,
                      `teamB_id` int(11) NOT NULL,
                      `teamB_score` int(11) DEFAULT NULL,
                      `field_id` varchar(50) NOT NULL
                    ) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
                    ALTER TABLE `events`
                    ADD PRIMARY KEY (`event_id`);
                  ALTER TABLE `events` ADD CONSTRAINT `events_ibfk_1` FOREIGN KEY (`teamA_id`) REFERENCES `teams` (`team_id`);
                  ALTER TABLE `events` ADD CONSTRAINT `events_ibfk_2` FOREIGN KEY (`teamB_id`) REFERENCES `teams` (`team_id`);              
            </textarea>
        </div>
        
        <div id="uploadQueryDiv">
            <label for="SQLfile">Upload SQL file:</label>
            <input type="file" name="SQLfile" id="SQLfile" accept=".sql">
        </div>
        
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

    <button id="calculateGraphButton" class="btn btn-primary">
        Calculate graph
    </button>

    <button id="optimizeButton" class="btn btn-primary">
        Optimize
    </button>

    <button id="drawButton" class="btn btn-info">
        Draw
    </button>

    <button id="logButton" class="btn btn-info">
        Log graph
    </button>
    
    <br>
    
    <img id="ErDiagram" title="Click to edit image">
        
    <style>
        #ErDiagram {
            cursor: pointer
        }
    </style>
    
    <script src="/res/js/crappyParsing.js"></script>
    <script src="/res/js/graph.js"></script>
    <script src="/res/js/createSvgComponents.js"></script>
    <script src="/res/js/drawingFunctions.js"></script>
    <script src="/res/js/drawingExecution.js"></script>
    <script src="/res/js/inputs.js"></script>
    
    <%- include('footer'); %>
        
    </body>
    
    </html>