<!DOCTYPE html>

<html lang="en">
<%- include('head'); %>

<body>
    
    <%- include('header'); %>
    
    <br>
    
    <form id="queryForm">
        <label>
            <input type="radio" name="queryType" value="write" id="writeQuery" checked> Write query
        </label>
        <label>
            <input type="radio" name="queryType" value="upload" id="uploadQuery"> Upload SQL file
        </label>
        
        <div id="writeQueryDiv">
            <textarea name="queryText" id="queryText" rows="4" cols="50" placeholder="Enter your SQL query here">
                CREATE TABLE Employee (ID INT, Name VARCHAR(255), PRIMARY KEY (ID));
                CREATE TABLE Department (ID INT, Name VARCHAR(255), PRIMARY KEY (ID));
                ALTER TABLE Employee ADD FOREIGN KEY (DepartmentID) REFERENCES Department (ID);                
            </textarea>
        </div>
        
        <div id="uploadQueryDiv">
            <label for="SQLfile">Upload SQL file:</label>
            <input type="file" name="SQLfile" id="SQLfile" accept=".sql">
        </div>
        
        <input type="submit" value="Submit" class="btn btn-success">
    </form>

    <button id="calculateGraphButton" class="btn btn-primary">
        Calculate graph
    </button>

    <button id="optimizeButton" class="btn btn-primary">
        Optimize
    </button>

    <button id="drawButton" class="btn btn-info">
        Draw
    </button>

    <button id="logButton" class="btn btn-info">
        Log graph
    </button>

    <button id="centerButton" class="btn btn-info">
        Center graph
    </button>
    
    <br>
    
    <canvas>
        
        <style>
            canvas {
                border: 1px solid rgb(0, 0, 0);
            }
        </style>
        
        <script src="/res/js/crappyParsing.js"></script>
        <script src="/res/js/graph.js"></script>
        <script src="/res/js/drawingFunctions.js"></script>
        
        <%- include('footer'); %>
        
    </body>
    
    </html>