<!DOCTYPE html>

<html lang="en">
<%- include('head'); %>
<body>

    <%- include('header'); %>

    <br>

    <form>
        <label for="SQLfile">Upload SQL file:</label>
        <input type="file" name="SQLfile" accept=".sql" required>
        <input type="submit" value="Upload">
    </form>

    <br>

    <canvas width="500" height="500">

    <style>
        canvas {
            border: 1px solid rgb(0, 0, 0);
        }
    </style>

    <script src="/res/js/sqlParser.js"></script>
    <script>

    var sqlParser = window.sqlParser;
    var query = 'select * from dual';
    var ast = sqlParser.parse(query);
    var sql = sqlParser.stringify(ast);
    console.log(JSON.stringify(ast, null, 2));

        document.querySelector("form").addEventListener("submit", (event) => {
            event.preventDefault();


        })

    </script>

    <%- include('footer'); %>

</body>
</html>